.headernav {
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
  padding: 0;
  width: 100%;
  height: 8vh;    
  z-index: 1;
}
.headernav-logo {
  width: 150px;
  height: 40px;
  height: 35px; 
  padding-left: 20px;  
  margin-top: -15px;    
}
.headernav-toggle-icon {  
  position: absolute;
  font-size: 25px;
  left: 170px;
}
.headernav .ant-dropdown-trigger {
  position: absolute;
  top: 7px;
  right: 50px;
  cursor: pointer;  
}
